body {
  background-color: rgb(44, 43, 43);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyCalculator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto 0rem auto;
  background-color: rgb(73, 72, 72);
  max-width: 24rem;
  max-height: 70vh;
  border: .5rem solid rgb(0, 0, 0);
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow: .5rem .25rem black;
}

.file {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 85%;
  max-width: 85%;
  height: auto;
  overflow: hidden;
  word-wrap: break-word;
}

.result {
  display: flex;
  flex: 1 1;
}

.setting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerClear {
  width: 100%;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}