.clear{
    background-color: red;
    display: flex;
    text-align: center;
    width: 5rem;
    height: 3rem;
    background-color: rgb(212, 164, 4);
    font-weight: bolder;
    font-size: 2rem;
    border: .2rem solid black;
    border-radius: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
}

.clear:hover{
    background-color: rgb(197, 197, 142);
}